<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ryan Field's Portfolio</title>
	<script src="/app/assets/javascripts/welcome.coffee" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/app/assets/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="/app/assets/stylesheets/bootstrap-theme.css">
	<script src="/app/assets/javascripts/bootstrap.min.js"></script>
	<link href="/app/assets/stylesheets/welcome.scss" rel="stylesheet"  type="text/css">
</head>
<body id="page-top">
	
	<!--NavBar-->
	<nav class="container">
		<div class="row-fluid">
			<ul id="nav-ul" class="col-md-10 col-md-offset-1">
				<li>
					<a class="nav active-li" href="#page-top">Home</a>
				</li>
				<li>
					<a class="nav active-li" href="#projects">Projects</a>
				</li>
				<li>
					<a class="nav active-li" href="#about">About</a>
				</li>
				<li>
					<a class="nav active-li" href="#resume">Resume</a>
				</li>
				<li>
					<a class="nav active-li" href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<!--Intro Section-->
	<header class="intro">
        <div class="intro-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Ryan Field</h1>
                        <p class="intro-text">An entry-level Ruby on Rails developer, looking to get his foot in the door to expand his knowledge while expanding your brand</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
	
	<!-- Project Section -->
	<section id="projects" class="content-section">
  	<div class="project-section">
			<div class="container">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="section-title">Work in Progress</h1>
					<p class="section-font"><em>This area is under construction and will be back up shortly</p>
					<p class="section-font">Sorry for the inconvenience</em></p>
				</div>
			</div>
		</div>
	</section>
	
	<!--About Section-->
	<section id="about" class="container content-section">
		<div class="about-section">
			<div class="row">
				<div class="col-md-4 col-md-offset-6">
					<h1 class="section-title">About Ryan</h1>
					<div id="about-p" class="section-font">
						<p>I have been developing elegant sites in HTML, CSS, JavaScript, and Ruby on Rails since June of 2015.</p>
						
						<p>When I'm not coding, I'm typically out exploring new parts of the country or brewing up a batch of homebrewed beer.</p>
					<!--<p>Come check out some of the amazing places i have been and some of the beautiful photos I've taken:</p>
					<a class="advBtn" href="myBrand/brand.html"><button>Ryan's Adventures</button></a>-->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Resume Section-->
	<section id="resume" class="container">
		<!--<div class="row">-->
			<div class="col-md-12">
				<div class="resume">
					<h1 class="section-title" id="resume-title">Resume</h1>
					<hr>
        
					<!--Introduction-->
					<div class="resumeIntro">
						<h2>Ryan Field is a Ruby on Rails developer ready to help build user-centered applications</h2>
					</div>
					<hr>
        
					<!--Employement-->
					<div class="exp">
						<h2>Employment History</h2>
						<div class="indExp">
							<h3>Experis</h3>
							<p>09/2014 - Present</p>
							<p>Technical Recruiter</p>
							<ul>
								<li>Qualify candidates for infrastructure, security, and user experience industries</li>
                <li>Build and maintain relationships with hiring managers and skilled candidates</li>
                <li>Assess company culture and technology stack for optimal candidate placement</li>
							</ul>
						</div>
            
						<!--Salsaritas-->
						<div class="indExp">
							<h3>Salsarita's Fresh Cantina</h3>
							<p>07/2012 - 09/2014</p>
							<p>05/2011 - 07/2011</p>
							<p>General Manager <em>from</em> Line Cook</p>
							<ul>
                <li>Improved sales, customer satisfaction, and health inspection ratings for a failing store</li>
                <li>Minimized labor costs and increased efficiency by coordinating staff schedules</li>
                <li>Managed inventory counts to help with food and supplies ordering from week-to-week</li>
							</ul>
						</div>
            
						<!--TCBY-->
            <div class="indExp">
            	<h3>TCBY (Batt Enterprises)</h3>
            	<p>05/2011 - 07/2012</p>
            	<p>General Manager <em>from</em> Line Prep</p>
            	<ul>
                <li>Maintaned two locations accounting for highest foot-traffic in the U.S.</li>
                <li>Created and maintaned inventory and order management through Excel spreadsheet</li>
                <li>Coordinated weekly schedule for 30 employees across two locations</li>
                <li>Assisted Regional Operations Manager with monthly store inspections and payroll processing</li>
            	</ul>
            </div>
            <hr>
            
            <!--Education-->
            <div class="education">
            	<h2>Technical Education</h2>
            	<div class="indExp">
            		<h3>Tech Talent South</h3>
            		<p>05/2015 - 06/2015</p>
            		<ul>
                	<li>Code Immersion Program</li>
            		</ul>
              </div>
            </div>
            <hr>
            
            <!--Skills-->
            <div class="skills">
							<h2>Skills</h2>
							<div class="indExp">
								<h3>Languages</h3>
                <ul>
                	<li>Ruby on Rails, HTML5, CSS3, JavaScript, jQuery, Bootstrap, Git, API's (Facebook, GoogleMaps, Twillio, Stripe)</li>
                </ul>
								<h3>Technologies</h3>
								<ul>
                	<li>Microsoft Office, Adobe Photoshop</li>
            		</ul>
            	</div>
						</div>
						<hr>
					</div>
				</div>
			</div>
	</section>

	<!-- Contact Section -->
	<section id="contact" class="content-section text-center">
		<div class="container contact-section">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<ul>
						<h1 class="section-title">Contact Ryan</h1>
					</ul>
						<ul class="contact-list" id="ul-top">
							<li>
								<a href="mailto:RyanField07@Gmail.com" class="btn btn-default btn-lg" id="con-b">RyanField07@Gmail.com</a>
							</li>
						</ul>
						<ul class="contact-list" id="ul-bot">
							<li>
							<a href="https://www.linkedin.com/in/ryanfield07" class="btn btn-default btn-md" id="con-b">LinkedIn</span></a>
							</li>
							<li>
								<a href="https://github.com/ryanfield07" class="btn btn-default btn-md" id="con-b">GitHub</span></a>
							</li>
							<li>
								<a href="https://plus.google.com/u/0/+RyanField07" class="btn btn-default btn-md" id="con-b">Google+</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</body>
</html>